/*=====================================
=            downoload-btn            =
=====================================*/
.downoload-btn {
	@include font-size(14px,1);
	@include hyundai(medium);
	position:relative;
	padding-left: 23px;

	&::before {
		content:'';
		position: absolute;
		top:50%;
		left:0;
		width: 15px;
		height:15px;
		transform:translateY(-50%);
		background:url('../assets/img/icons/btn_download.png') no-repeat 0 0;
	}

}


/*=====  End of downoload-btn  ======*/
