/*==================================
=            page-title            =
==================================*/

.page-title {
    display: none;
    @media screen and (max-width: 992px) {
        display: block;
        margin: 0 auto;
        @include font-size(16px, 1);
        @include hyundai(medium);
        text-overflow: ellipsis;
        text-align: center;
    }

}


/*=====  End of page-title  ======*/
