/*====================================
=            page-wrapper            =
====================================*/
.page-wrapper {
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
}



/*=====  End of page-wrapper  ======*/
