/*=================================
=            page-form            =
=================================*/

.page-form {
    position: relative;
    width: 100%;
    h2,
    h3 {
        text-transform: uppercase;
        padding-bottom: 0;
        margin-bottom: 30px;
        text-align: center;
        &::before {
            display: none;
        }
    }
}

.page-form__label {
    display: block;
    @include font-size(16px, 1);
    @include hyundai(medium);
    color: #000;
    margin-bottom: 5px;
    width: 220px;
    min-width: 220px;
    @media screen and (max-width: 767px) {
        @include font-size(14px, 1);
        margin-bottom: 15px;
    }
}

.page-form__required-box {
    @include font-size(14px, 1);
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 15px;
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 65px;
        right: 0;
    }
    .required::after {
        @media screen and (max-width: 767px) {
            right: auto;
            left: -10px;
        }
    }
}

.page-form__field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &--center {
        justify-content: center;
    }
    &--small {
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="tel"] {
            width: 145px;
            margin-right: 15px;
            @media screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: 15px;
            }
            &:last-of-type {
                margin-right: 0;
                @media screen and (max-width: 767px) {
                    margin-bottom: 0x;
                }
            }
        }
    }
    &--smaller {
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="tel"] {
            width: 65px;
            margin-right: 15px;
            @media screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: 15px;
            }
            &:last-of-type {
                margin-right: 0;
                @media screen and (max-width: 767px) {
                    margin-bottom: 0x;
                }
            }
        }
    }
    &--middle {
        .page-select.jq-selectbox {
            margin-right: 15px;
            width: 305px;
            @media screen and (max-width: 767px) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 15px;
            }
            &:last-of-type {
                margin-right: 0;
                @media screen and (max-width: 767px) {
                    margin-bottom: 0;
                }
            }
        }
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="tel"] {
            width: 305px;
            margin-right: 15px;
            @media screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: 15px;
            }
            &:last-of-type {
                margin-right: 0;
                @media screen and (max-width: 767px) {
                    margin-bottom: 0x;
                }
            }
        }
    }
}

.page-form__fields {
    border-top: 1px solid #e4dcd3;
    padding-top: 40px;
    @media screen and (max-width: 767px) {
        padding-top: 30px;
    }
}

.page-form__subscribe {
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
        margin-bottom: 0;
    }
}

.page-form__field-title {
    @include font-size(20px, 24px);
    color: #000;
    margin-bottom: 20px;
}

.page-form__btn {
    display: block;
    margin-bottom: 20px;
}

.ui-datepicker.ui-widget {
    @include hyundai(regular);
    z-index: 50!important;
}

.ui-widget-header .ui-icon {
    width: 11px;
    height: 7px;
    background: url('../assets/img/icons/paging_jumpPage.png') no-repeat 0 0px;
    cursor: pointer;
}

.ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
    margin-top: 0;
    transform: translateY(-50%) rotate(-90deg);
}

.ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
    margin-top: 0;
    transform: translateY(-50%) rotate(90deg);
}

.ui-datepicker-prev.ui-corner-all {
    left: 0;
    top: 0;
}

.ui-datepicker-next.ui-corner-all {
    right: 0;
    top: 0;
}

.ui-datepicker-prev.ui-corner-all.ui-state-hover,
.ui-datepicker-next.ui-corner-all.ui-state-hover {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: normal;
    color: #000;
}

.ui-datepicker-prev.ui-corner-all.ui-state-hover {
    top: 0;
    left: 0;
}

.ui-datepicker-next.ui-corner-all.ui-state-hover {
    top: 0;
    right: 0;
}


/*=====  End of page-form  ======*/
