@font-face {
    font-family: 'HyundaiLight';
    src: url("../assets/fonts/HyundaiSansHead-Light.eot");
    src: url("../assets/fonts/HyundaiSansHead-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HyundaiSansHead-Light.woff") format("woff"), url("../assets/fonts/HyundaiSansHead-Light.woff2") format("woff2"), url("../assets/fonts/HyundaiSansHead-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HyundaiRegular';
    src: url("../assets/fonts/HyundaiSansHead-Regular.eot");
    src: url("../assets/fonts/HyundaiSansHead-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HyundaiSansHead-Regular.woff") format("woff"), url("../assets/fonts/HyundaiSansHead-Regular.woff2") format("woff2"), url("../assets/fonts/HyundaiSansHead-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HyundaiMedium';
    src: url("../assets/fonts/HyundaiSansHead-Medium.eot");
    src: url("../assets/fonts/HyundaiSansHead-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HyundaiSansHead-Medium.woff") format("woff"), url("../assets/fonts/HyundaiSansHead-Medium.woff2") format("woff2"), url("../assets/fonts/HyundaiSansHead-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HyundaiBold';
    src: url("../assets/fonts/HyundaiSansHead-Bold.eot");
    src: url("../assets/fonts/HyundaiSansHead-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HyundaiSansHead-Bold.woff") format("woff"), url("../assets/fonts/HyundaiSansHead-Bold.woff2") format("woff2"), url("../assets/fonts/HyundaiSansHead-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
