/*===================================
=            Base Styles            =
===================================*/

html {
    @include font-size(16px, 28px);
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

*:focus {
    outline: none;
    -moz-outline-style: none;
}

:-moz-any-link:focus {
    outline: 1px dotted invert;
}

:-moz-any-link:focus {
    outline: none;
}

textarea,
input {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    min-width: 280px;
    min-height: 100vh;
    color: #000;
    background: #fff;
    @include hyundai(regular);
    overflow-x: hidden;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
}


img,
video {
    max-width: 100%;
    height: auto;
}

p,
ul {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    
}

a {
    color: #000;
    text-decoration: none;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
}


/*=====  End of Base Styles  ======*/
