/*============================
=            Vars            =
============================*/
$desktop:"screen and (min-width:1200px)";
$laptop:"screen and (min-width:769px) and (max-width:1200px)";
$tablets:"screen and (min-width:768px)";
$mobile:"screen and (max-width:767px)";
$retina:"screen and (min-resolution: 144dpi), (min-resolution: 1.5dppx)";

/*=====  End of Vars  ======*/
